.vscode/
log/basic_log.log
log/__pycache__/
log/logfiles/
log2/package1/__pycache__/
log2/package1/package1a/__pycache__/
log2/package2/__pycache__/
test/__pycache__/
test/pytest/__pycache__/
test/.pytest_cache/
test/.coverage
OLD/